/*Palette de couleurs : 
    #222D41 bleu de prusse (bleu très foncé)
    #A0173B Violet Amaranthe (un espèce de rouge)
    #639FAB Pierre de lune (plus clair que le bleu canard)
    #FDC5AF Abricot (idéal pour les titres)
    #FDFAED pour le texte
*/

html, body {
    font-family: 'Century Gothic';
    background-color: #222D41;
    color: #FDFAED;
    width: auto;
    margin: 0;
    padding: 0;
}

header {
    background-color: #A0173B;
}

/************************************COMMON************************************/
a {
    color: #639FAB;
    font-weight: bolder;
}

/*********************************** NAVBAR ***********************************/



.navbar {
    overflow: hidden;
    background-color: #25262E; /*same as the logo*/
    position: fixed;
    display: flex;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.logo {
    height: 120px;
    border-radius: 50% 20% / 10% 40%;
    }

nav {
    margin-right: 20px;
    margin-left: auto;
}

.navlinks {
    vertical-align: center;
}

    .navlinks ul {
        vertical-align: center;
    }

    .navlinks li {
        display: inline;
        float: left;
    }

    .navlinks a {
        display: block;
        color: #f2f2f2;
        text-align: center;
        vertical-align: middle;
        padding: 12px;
        text-decoration: none;
    }

        /* Hover blue on navbar*/
        .navlinks a:hover {
            background: #639FAB;
            color: black;
        }

.navcta {
    background: #A0173B;
}

    .navcta a:hover {
        background: white;
        border: 2px solid #A0173B;
        color: #A0173B;
        text-align: center;
        font-size: 21px;
    }

/*********************************** Main content ***********************************/
main {
}

/*------------------------ Titles ---------------------------*/
p {
    padding: 1px 5px 3px 5px;
    font-size:18px;
}

span {
    color: #639FAB;
    font-weight: bolder;
    font-size:22px;
}

h1 {
    color: #639FAB;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 40px;
}

h2 {
    color: #A0173B;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 30px;
}

h3 {
    color: #FDC5AF;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 3px;
    font-size: 25px;
}

.darkerh2 {
    color: #222D41;
}

.lighterh2 {
    color: white;
}

/*------------------------ Content ---------------------------*/

.intro {
    position: static;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/gateau-monstre-zelda-bothw.jpg");/*adding a dark opacity filter in front of the image*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    padding-top: 70px;
}

.container {
    margin-right: 20px;
    margin-left: 20px;
    width: auto;
    padding: 12px 12px 12px 12px;
}

    .container#bestseller {
        height: 450px;
    }

    .container#contacts {
        background-color: #FDC5AF;
        width: full;
        padding: 1% 5% 1% 5%;
    }


.fronttext {
    color: #222D41;
    font-weight: bolder;
    width: 50%;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    vertical-align: middle;
}

.textcenter {
    width: auto;
    text-align: center;
    padding: 15px 20px 15px 20px;
}


.doublecontainer { /*double container div with flex attribute*/
    display: flex;
    margin: 10px 10px 10px 10px;
}

    .doublecontainer #contactinfo {
        float: left; /*block to the left*/
        width: 50%;
        color: #25262E;
    }

    .doublecontainer #contactform {
        float: right;
        width: 50%;
        padding: 12px;
        background-color: #222D41
    }



.round {
    border-radius: 1px 40px 40px 1px;
    background-color: #639FAB;
    width:100%;
    max-height:650px;
}



/*----------- CTA and buttons -----------*/

button {
    display: block;
    margin: 0 auto;
    background-color: #A0173B;
    border-radius: 10px;
    border: 4px #FDFAED;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    width: 200px;
    cursor: pointer;
}


/*.cta:hover {
    cursor: pointer;
    background-color: #FDFAED;
        border: 2px solid #A0173B;
        color: #A0173B;
        text-align: center;
}-> There is too much hover xD*/

.submitcta {
    background-color: #639FAB;
    font-size: 15px;
}

    .submitcta:hover {
        background-color: #FDFAED;
        border: 1px solid #639FAB;
        color: #639FAB;
        text-align: center;
    }

/***********************************FOOTER*************************************/

footer {
    background-color: #25262E;
    margin: 0;
    padding: 2%;
    width: 100%;
}
